<app-nav></app-nav>
<table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Talla</th>
      <th scope="col">Descripción</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prenda of prendas">
      <th scope="row">{{ prenda.id }}</th>
      <td>{{ prenda.nombre }}</td>
      <td>{{ prenda.precio }}</td>
      <td>{{ prenda.talla }}</td>
      <td>{{ prenda.descripcion }}</td>
      <td>{{ prenda.imagen }}</td>
      <a class=" nav-link btn btn-primary"[routerLink]="['/modificarRopa/'+prenda.id]" >Modificar</a>
      <button type="button" class="btn btn-danger">{{ prenda.id }}Eliminar </button>
    </tr>
  </tbody>
</table>
