<app-nav></app-nav>
<div *ngIf="estaGuardado&&!debeOcultarse" class="alert alert-warning " role="alert">
  <strong>¡Guardado con Exito!</strong> Tus datos se guardaron correctamente.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="modificaPrenda(fmodificaPrenda)" *ngIf="prenda" #fmodificaPrenda="ngForm" >
  <div class="form-row">
    <div class="col-md-3 mb-3" *ngIf="prenda.nombre">
      <label for="validationDefault01">Nombre de prenda</label>
     / <input  name="esUnNombreValido"   pattern="[a-zA-Z ]*" type="text" class="form-control" [(ngModel)]="prenda.nombre"  value='' required>
      <label class="rojo" *ngIf=invalido.imagen>Nombre Incorrecto</label>
    </div>
    <div class="col-md-3 mb-3">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Talla</label>
      <select name="esTallaValida" pattern="[SMG]*" class="custom-select my-1 mr-sm-2" [(ngModel)]="prenda.talla"  value='' id="inlineFormCustomSelectPref" required>
        <option selected>Seleciona</option>
        <option value="S" >S</option>
        <option value="M">M</option>
        <option value="G">G</option>
      </select>
      <label class="rojo" *ngIf=invalido.imagen>Talla Incorrecta</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationDefault02">precio</label>
      <input  name="esPrecioValida" ngModel pattern="[[0-9]+(\.[0-9][0-9]?)?]*" type="number" class="form-control" [(ngModel)]="prenda.precio"  id="validationDefault02" value="Otto" required>
      <label class="rojo" *ngIf=invalido.imagen>Precio Invalido</label>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault01">Imagen</label>
      <input  name="esImagenValida" type="url" class="form-control" [(ngModel)]="prenda.imagen"  value="" required>
      <label class="rojo" *ngIf=invalido.imagen>Imagen Incorrecta</label>
    </div>
  </div>
  <div class="form-row col-md-6 mb-3">
    <label for="exampleFormControlTextarea1">Descripción</label>
      <textarea class="form-control" [(ngModel)]="prenda.descripcion" name="descripcion" id="exampleFormControlTextarea1" rows="3">
      </textarea>
  </div>
  <button class="btn btn-primary col-md-3 mb-3 nav-link btn btn-primary" [routerLink]="['/listadoRopa/']" type="submit">Modificar  </button>
</form>
