<app-nav></app-nav>
<app-carousel></app-carousel>
<div>
  <div class="card-deck">
    <div class="card" *ngFor="let prenda of prendas">
      <img src="{{ prenda.imagen }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ prenda.nombre }}</h5>
        <p class="card-text">{{ prenda.descripcion }}</p>
        <p class="card-text">{{ prenda.talla }}</p>
        <p class="card-text"><small class="text-muted">{{ prenda.precio}}</small></p>
      </div>
    </div>
  </div>
</div>
<form (ngSubmit)="guardaPrenda(fguardaPrenda)" #fguardaPrenda="ngForm" >
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault01">Nombre de prenda</label>
        <input  name="esUnNombreValido" ngModel pattern="[a-zA-Z ]*" type="text" class="form-control" [(ngModel)]="prenda.nombre"  value="" required>
      </div>
      <div class="col-md-3 mb-3">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Talla</label>
        <select name="esTallaValida" ngModel pattern="[SMG]*" class="custom-select my-1 mr-sm-2" [(ngModel)]="prenda.talla"   id="inlineFormCustomSelectPref" required>
          <option selected>Seleciona</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="G">G</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault02">precio</label>
        <input  name="esPrecioValida" ngModel pattern="[[0-9]+(\.[0-9][0-9]?)?]*" type="number" class="form-control" [(ngModel)]="prenda.precio"  id="validationDefault02" value="Otto" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault01">Imagen</label>
        <input  name="esImagenValida" ngModel pattern="((http[s]?|ftp):\/)?\/?([^:\/\s]+)((\/\w+)*\/)([\w\-\.]+[^#?\s]+)(.*)?(#[\w\-]+)?" type="text" class="form-control" [(ngModel)]="prenda.imagen"  value="" required>
      </div>
    </div>
    <div class="form-row col-md-6 mb-3">
      <label for="exampleFormControlTextarea1">Descripción</label>
        <textarea class="form-control" [(ngModel)]="prenda.descripcion" name="descripcion" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-primary col-md-3 mb-3" type="submit">Publicar</button>
</form>

